<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dobbinsoft.netting.im.infrastructure.mapper.UserMapper">

    <resultMap id="user" type="com.dobbinsoft.netting.im.infrastructure.po.UserPO">
        <result column="business_user_id" property="businessUserId" jdbcType="VARCHAR"></result>
        <result column="user_secret" property="userSecret" jdbcType="VARCHAR"></result>
    </resultMap>

    <insert id="insertBatch">
        INSERT INTO
            `user` (business_user_id, user_secret)
        VALUES
            <foreach collection="pos" item="po" separator=",">
                (#{po.businessUserId}, #{po.userSecret})
            </foreach>
    </insert>

    <update id="updateBatch">
        UPDATE `user`
            SET user_secret = CASE business_user_id
            <foreach collection="pos" item="po" separator=" ">
                WHEN #{po.businessUserId} THEN #{po.userSecret}
            </foreach>
            END
        WHERE
            business_user_id in
            <foreach collection="pos" item="po" separator="," open="(" close=")">
                #{po.businessUserId}
            </foreach>
    </update>

    <delete id="deleteBatch">
        DELETE FROM `user` WHERE business_user_id in
        <foreach collection="businessIds" item="businessId" separator="," open="(" close=")">
            #{businessIds}
        </foreach>
    </delete>

    <select id="findByBusinessIds" resultMap="user">
        SELECT
            *
        FROM `user`
        WHERE business_user_id IN
        <foreach collection="businessUserIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <select id="findByBusinessId" resultMap="user">
        SELECT * FROM `user` WHERE business_user_id = #{id}
    </select>

</mapper>